html {
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    color: white;
}

*,
::before,
::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 375px;
    background: url(../images/fon.webp) 40% 50% / cover no-repeat;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

.text {
    font-size: 22px;
    padding-top: 16px;
}

.container {
    max-width: 1250px;
    margin: 0 auto;
    padding: 0px;
    background: #3f96b9c1;
}

.title {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-size: 25px;
}

.main__section {
    display: flex;
    justify-content: space-between;
    padding: 40px 200px;
}

.contant {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (width <= 992px) {
    .container {
        max-width: 800px;
    }

    .main__section {
        padding: 20px 30px;
    }

    .title {
        font-size: 18px;
    }

    .text {
        font-size: 14px;
        padding-top: 10px;
    }

    body {
        background: url(../images/fon.webp) 90% 50% / cover no-repeat #3f96b9;
    }
}

@media (width <= 768px) {
    .container {
        width: 100%;
        background: #3f96b990;
    }

    .main__section {
        flex-direction: column;
        align-items: center;
    }
}

@media (width <= 375px) {
    
}
